body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

button {
  background: #1a1a1a;
  color: white;
  border: none;
  padding: 12px;
  margin: 10px;
  font-size: 16px;
}

.light {
  background: #ffffff;
  color: #000000;
}
